[project]
	description = Freeseer Website
[access "refs/*"]
	owner = group user/Joseph Yeung (jshyeung)
[access "refs/for/refs/*"]
	read = group user/Joseph Yeung (jshyeung)
	push = group user/Joseph Yeung (jshyeung)
	label-Code-Review = -2..+2 group user/Joseph Yeung (jshyeung)
	label-Verified = -1..+1 group user/Joseph Yeung (jshyeung)
	rebase = group user/Joseph Yeung (jshyeung)
	removeReviewer = group user/Joseph Yeung (jshyeung)
	submit = group user/Joseph Yeung (jshyeung)
[access "refs/heads/*"]
	read = group user/Joseph Yeung (jshyeung)
	create = group user/Joseph Yeung (jshyeung)
	push = +force group user/Joseph Yeung (jshyeung)
	pushMerge = group user/Joseph Yeung (jshyeung)
[access "refs/tags/*"]
	push = +force group user/Joseph Yeung (jshyeung)
	pushTag = group user/Joseph Yeung (jshyeung)
	pushSignedTag = group user/Joseph Yeung (jshyeung)
